//Noi day mn se code theo phan minh chia nha.
//======================================================================================
#include <iostream>
using namespace std;
// IN THU VIEN
#include <vector>
#include <windows.h>
#include <conio.h>
#include <cstring>
#include <time.h>
#include <random>
#define WIDTH 40
#define HEIGHT 20
#define BODY '*'
#define APPLE 'O'

/*
 * Enum
 */
enum class Direction
{
	up,
	right,
	down,
	left
};

// Each point is a part of the snake
struct Point
{
	int x;
	int y;
};


#pragma region GlobalVariable
// Create snake
vector<Point> snake = {
	Point{ WIDTH / 2 + 2, HEIGHT / 2 },
	Point{ WIDTH / 2 + 1, HEIGHT / 2 },
	Point{ WIDTH / 2, HEIGHT / 2 },	
Point{ WIDTH / 2 - 1, HEIGHT / 2 },
	Point{ WIDTH / 2 - 2, HEIGHT / 2 }
};
Direction direction = Direction::right;
Point apple;
int score = 0;
int speed = 300;
Point prevTail;
#pragma endregion


#pragma region Prototype
void drawSnakePart(Point);
void drawSnake();
void gotoxy(int, int);
void ShowConsoleCursor(bool);
void move();

/* 
  *Bắt đầu game
*/

int main ()
{
  showStartmMnu();
  return 0;
}

#pragma region GameFunction
// Thiết lập khung bảo vệ bên ngoài

void drawBox()
{
  for (size_t i=0, i < WIDTH; i++)
  	cout << " = ";
  	gotoxy(0, HEIGHT);
  for (size_t i=0, i < WIDTH; i++)
  	cout << " = ";
  for (size_t i=0; i < HEIGHT; i++)
  {
  	gotoxy(0, i);
	cout << "|";
  }
  for (size_t i=0; i < HEIGHT; i++)
  {
  	gotoxy(WIDTH, i);
	cout << "|";
  }
}
  	
  

