//Noi day mn se code theo phan minh chia nha.
//======================================================================================
#include <iostream>
using namespace std;
// IN THU VIEN
#include <vector>
#include <windows.h>
#include <conio.h>
#include <cstring>
#include <time.h>
#include <random>
#define WIDTH 40
#define HEIGHT 20
#define BODY '*'
#define APPLE 'O'

